[flake8]
exclude =
    .git,
    .tox,
    __pycache__,
    # The * import causes lots of false positives.
    tests/run_settings.py

# https://github.com/psf/black/blob/main/docs/guides/using_black_with_other_tools.md#flake8:w
max-line-length = 88
extend-ignore = E203
application-import-names = allauth_2fa, manage, tests
import-order-style = appnexus
