ci:
  autofix_prs: false
default_language_version:
  python: python3
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-merge-conflict
      - id: detect-private-key
      - id: fix-encoding-pragma
        args: ["--remove"]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.14.1
    hooks:
      - id: django-upgrade
        args:
          - --target-version=3.2
