# Dependencies required for installing the package are defined in setup.cfg.
# Running unit tests should require no extra dependencies.

-e .  # Install the current directory as an editable package.

# Nice for development.
django-extensions==2.2.6
ipdb==0.12.3
ipython==7.12.0
Werkzeug==0.16.1

# For documentation.
Sphinx==1.6.5
sphinx-autobuild==0.7.1   # To auto-build docs as they're edited.
sphinx-rtd-theme==0.2.4   # The Read the Docs theme for Sphinx.
