# Install the current directory as an editable package. Denpendencies required
# for installing the package and running unit tests are defined in setup.py.
-e .


django>=1.8
django-allauth==0.26.1
django-otp==0.3.5
qrcode==5.3
