name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - python-version: 3.6
          - python-version: 3.7
          - python-version: 3.8
          - python-version: 3.9
          - python-version: "3.10"
    steps:
      - name: 'Set up Python ${{ matrix.python-version }}'
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python-version }}'
      - uses: actions/cache@v2
        with:
          path: $HOME/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('**/requirements.txt') }}
      - uses: actions/checkout@v2
      - run: pip install -U pip wheel setuptools
      - run: pip install -U tox tox-gh-actions
      - run: tox
      - uses: codecov/codecov-action@v1
  Build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/checkout@v2
      - run: pip install -U build
      - run: python -m build
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist/
